*.log
*.pot
*.pyc
local_settings.py
*.sw*
.elasticbeanstalk/
env
node_modules
.make
.DS_Store
celerybeat-schedule
celerybeat.pid
assets/bundles
webpack-stats-local.json
stats.json
report/
.vscode
.idea
venv/